*{
    font-family: 'Lato', sans-serif;
}

body {
    min-height: 200vh;
	background: linear-gradient(to right bottom,#079992, #009161, #7DE8B7);	
}
button {
	border: none !important;
}
.navbar-light .navbar-toggler {
	background: linear-gradient(to right bottom,#079992, #009161) !important;
}
@keyframes entrada {	
	0%{
		opacity: 1;
		transform: scale(1);
	}
	70%{
		opacity: 1;
		transform: scale(1);
	}
	100%{
		opacity: 0;
		transform: scale(.2);
	}
}
@keyframes entrada1 {	
	0%{
		opacity: 0;
	}
	70%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.content_todo {
	animation: entrada1 3s;	
}
a {
    text-decoration: none;
}
#logo {
    width: 50px;
}
$color-active: #A2C54A;
#estilo_nav {
	background-color: rgba(32, 32, 32, .8)!important;
	position: absolute !important;
	top: 0%;
}
.lista_nav a{
	text-decoration: none;
	margin-left: 12px;
	color: #6cd386;
	font-weight: 200;
	letter-spacing: 1px;
	font-family: 'Suez One', serif;
	padding-left: 8px;
	border-left: solid 2px #6cd386;
	border-radius: 3px;
}
.lista_nav a:hover {
	color: #fff;
	text-shadow:
		0 0 5px rgb(161, 241, 136),
		0 0 10px rgb(96, 100, 96),
		0 0 20px rgb(64, 66, 65),
		0 0 40px rgb(116, 247, 125),
		0 0 80px rgb(87, 247, 121),
		0 0 90px rgb(38, 127, 65),
		0 0 100px rgb(23, 44, 21),
		0 0 140px rgb(41, 77, 46),
		0 0 180px rgb(123, 168, 119);
	border-top: solid 2px rgba(255, 255, 255, 0.7);
	border-left: none;
}
.nombre_organizacion{
	font-weight: 900;
	letter-spacing: 1px;
	color: #fff!important;
}
.nombre_organizacion:hover {
	color: #69c981;
	text-shadow:
		0 0 5px rgb(161, 241, 136),
		0 0 10px rgb(96, 100, 96),
		0 0 20px rgb(64, 66, 65),
		0 0 40px rgb(116, 247, 125),
		0 0 80px rgb(87, 247, 121),
		0 0 90px rgb(38, 127, 65),
		0 0 100px rgb(23, 44, 21),
		0 0 140px rgb(41, 77, 46),
		0 0 180px rgb(123, 168, 119);
}
.color_borde_button_nav {
	border-color: #fff!important;
}



@media (min-width: 360px) {
	.container-video {
		overflow: hidden;
		width: 100%;
		height: 67vh;
		position: relative;
	}
	.video-background {
		height: auto;
		position: absolute;
		width: 100%;
		z-index: -1000;
		top: 0;
		opacity: 0;
	}
	.slider-celular {
		height: 100%;
		width: 100%;
		position: absolute;
		opacity: 1;
	}
}
@media (min-width: 480px) {
	.container-video {
		overflow: hidden;
		width: 100%;
		height: 88vh;
		position: relative;
	}
	.video-background {
		height: auto;
		position: absolute;
		width: 100%;
		z-index: -1000;
		top: 0;
		opacity: 0;
	}
	.slider-celular {
		height: 100%;
		width: 100%;
		position: absolute;
		opacity: 1;
	}
}
@media (min-width: 768px) {
	.container-video {
		overflow: hidden;
		width: 100%;
		height: 69vh;
		position: relative;
	}
	.video-background {
		height: auto;
		position: absolute;
		width: 100%;
		z-index: -1000;
		top: 0;
		opacity: 1;
	}
	.slider-celular {
		height: 100%;
		width: 100%;
		position: absolute;
		opacity: 0;
	}
}
@media (min-width: 900px) {
	.container-video {
		overflow: hidden;
		width: 100%;
		height: 81vh;
		position: relative;
	}
	.video-background {
		height: auto;
		position: absolute;
		width: 100%;
		z-index: -1000;
		top: 0;
		opacity: 1;
	}
	.slider-celular {
		height: 100%;
		width: 100%;
		position: absolute;
		opacity: 0;
	}
}
@media (min-width: 1024px) {
	.container-video {
		overflow: hidden;
		width: 100%;
		height: 93vh;
		position: relative;
	}
	.video-background {
		height: auto;
		position: absolute;
		width: 100%;
		z-index: -1000;
		top: 0;
		opacity: 1;
	}
	.slider-celular {
		height: 100%;
		width: 100%;
		position: absolute;
		opacity: 0;
		
	}
}
@media (min-width: 1200px) {
	.container-video {
		overflow: hidden;
		width: 100%;
		height: 100vh;
		position: relative;
	}
	.video-background {
		height: auto;
		position: absolute;
		width: 100%;
		z-index: -1000;
		top: 0;
		opacity: 1;
	}
	.slider-celular {
		height: 100%;
		width: 100%;
		position: absolute;
		opacity: 0;
	}
}
@media (min-width: 1340px) {
	.container-video {
		overflow: hidden;
		width: 100%;
		height: 100vh;
		position: relative;
	}
	.video-background {
		height: auto;
		position: absolute;
		width: 100%;
		z-index: -1000;
		top: 0;
		opacity: 1;
	}
	.slider-celular {
		height: 100%;
		width: 100%;
		position: absolute;
		opacity: 0;
	}
}
.eslogan_aspaah {
	position: absolute;
	height: 230px;
	width: 140px;
	left: 0;
	top: 3.8em;
}
.eslogan_aspaah img {
	height: 100%;
	width: 100%;
}
.buton_Audio_principal {
	height: auto;
	width: auto;
	z-index: 1000;
	background-color: transparent;
	right: 1em;
	top: 4em;
	position: fixed;
}
*,*:after,*:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.buton_audio{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 22px;
	line-height: 40px;
	width: 40px;
	text-align: center;
	cursor: pointer;
	background: #151616;
	border-radius: 50px;
	border: 0px;
	height: 40px;
	border: none;
}
.buton_audio:hover {
	background-color: #000;
}






























.esquema_general {
	min-height: 100vh;
	background-color: transparent;
}
.aboutl{
	font-size: 47px;
	color: #fff;
	transition: all .5s;
}
.aboutl:hover{
	font-size: 47px;
	border-bottom: solid 4px rgb(184, 248, 226);
	color: rgb(184, 248, 226);
}















.container__card{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card__father{
    margin: 20px;
    perspective: 1000px;
	-webkit-box-reflect: below 0 linear-gradient(transparent, transparent, rgba(0,0,0,.3) );
}

.card__father:hover .card{
    transform: rotateY(180deg);
}


.card{
    width: 350px;
    height: 500px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 600ms;
}

.card__front{
    background-size: cover;
    background-position: center;
}


.card__front,
.card__back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
	border-radius: 5px;
}

.card__back{
	border-radius: 30px;
    transform: rotateY(180deg);
    background: #Fff;
}

.body__card_front{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transform: translateZ(60px);
}

.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    border-radius: 5px;
}

.body__card_back{
    padding: 40px;
    text-align: center;
    transform: translateZ(60px);
}

.body__card_back p{
    margin-top: 30px;
    font-size: 18px;
}

.body__card_back input{
    padding: 10px 40px;
    margin-top: 30px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    color: white;
    background: #58B0F6;
    box-shadow: 1px 1px 30px -5px #58B0F6;
    border-radius: 10px;
    transition: box-shadow 600ms;
}

.body__card_back input:hover{
    box-shadow: 1px 1px 30px 0px #449de6;
}


























#button-up{
    width: 60px;
    height: 60px;
    background: #151616;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    position: fixed;
    bottom: 50px;
    right: 30px;
    cursor: pointer;
    border: 4px solid transparent;
    transition: all 300ms ease;
	transform: scale(0);
}

#button-up:hover{
    transform: scale(1.1);
    border-color: rgba(0,0,0,0.1);
}








.footer-social {
    list-style: none;
    padding: 0;
}


.footer-social li a i{
    color: #c4bdc4;
}





.footer-jhey{
    position: relative;
	overflow: hidden;
	width: 100%;
	height: 250px;
}
#footer{
	position: absolute;
	height: 100%;
	width: 200%;
	bottom: 0;
    animation-name: svganimation;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count:infinite ;
/*    z-index: 4;*/
}
@keyframes svganimation {
    0%{
        left: -50%;
        bottom: 0%;
    }
    100%{
        left:-100%;
        bottom: 0%;
    }
}
#footer1{
	position: absolute;
	height: 100%;
	width: 200%;
	bottom: 0;
    animation-name: svganimation1;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite ;
/*  z-index: 1;*/
}
@keyframes svganimation1 {
    0%{
        right: 0%;
        bottom: 0%;
    }
    100%{
        right: -100%;
        bottom: 0%;
    }
}
footer a{
	text-decoration: none;
	color:#fff;
}
footer ul li a{
	font-size: 50px;
}
.contactos li a i{
	color: #fff;
	font-size: 20px;
}
.contactos li a{
	font-size: 20px;
}
.contactos{
	list-style: none;
}
/* .jhey_info{
	z-index: 1000;

} */
.jhey_info{
	position:absolute;
	bottom: 0px;
	top: 0px;
	left: 0px;
	right: 0px;
	margin-top: 1em;
	z-index: 1000;
}
.img-svg{
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: -100;
}
.box{
	height: 300px;
	padding: 0;
	transition: all 5s;
	position: relative;
}
.img-box{
	height: 100%;
	width: 100%;
	opacity: .7;
	position: absolute;
	filter: saturate(150%)contrast(200%);

}
.box1{
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}
.box2{
	width: 40%;
	float: left;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;	
}
.box2 img{
	opacity: 0;
	height: 100%;
}

.box:hover>.box2 img {
	opacity: 1;
	transition: all 1s;

}
.box:hover>.img-box{
	opacity: 1;
	filter: saturate(150%)contrast(200%);
}



svg{
    font-family: 'Montserrat';
    font-size: 15em;
    font-weight: bold;
    text-transform: uppercase;
    transition: 1s font-size;
    position: absolute;
    top: 0;
    left: 0;
	width: 100%;
    height: 100%;
}

svg rect{
    fill: white;
    mask: url(#mask);
}

video{
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 360px){
    svg{
        font-size: 5em;
    }
}
@media screen and (min-width: 480px){
    svg{
        font-size: 6em;
    }
}
@media screen and (min-width: 768px){
    svg{
        font-size: 10em;
    }
}
@media screen and (min-width: 1024px){
    svg{
        font-size: 12em;
    }
}
@media screen and (min-width: 1200px){
    svg{
        font-size: 14em;
    }
}
@media screen and (min-width: 1340px){
    svg{
        font-size: 15.3em;
    }
}
.container_row {
	width: 100%;
}
@media (min-width: 360px) {
	.container-videoD {
		overflow: hidden;
		width: 100%;
		height: 67vh;
		position: absolute;
		animation: entrada 3s;
		opacity: 0;
		bottom: 0;
	}
}
@media (min-width: 480px) {
	.container-videoD {
		overflow: hidden;
		width: 100%;
		height: 88vh;
		position: absolute;
		animation: entrada 3s;
		opacity: 0;
		bottom: 0;
	}
}
@media (min-width: 768px) {
	.container-videoD {
		overflow: hidden;
		width: 100%;
		height: 69vh;
		position: absolute;
		animation: entrada 3s;
		opacity: 0;
		bottom: 0;
	}
}
@media (min-width: 900px) {
	.container-videoD {
		overflow: hidden;
		width: 100%;
		height: 81vh;
		position: absolute;
		animation: entrada 3s;
		opacity: 0;
		bottom: 0;
	}
}
@media (min-width: 1024px) {
	.container-videoD {
		overflow: hidden;
		width: 100%;
		height: 93vh;
		position: absolute;
		animation: entrada 3s;
		opacity: 0;
		bottom: 0;
	}
}
@media (min-width: 1200px) {
	.container-videoD {
		overflow: hidden;
		width: 100%;
		height: 100vh;
		position: absolute;
		animation: entrada 3s;
		opacity: 0;
		bottom: 0;
	}
}
@media (min-width: 1340px) {
	.container-videoD {
		overflow: hidden;
		width: 100%;
		height: 100vh;
		position: absolute;
		animation: entrada 3s;
		opacity: 0;
		bottom: 0;
	}
}



@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
