body {
    min-height: 200vh;
}
a {
    text-decoration: none;
}
#logo {
    width: 50px;
}
$color-active: #A2C54A;
#estilo_nav {
	background-color: rgba(32, 32, 32, .6)!important;
	position: absolute !important;
	top: 0%;
}
.lista_nav a{
	text-decoration: none;
	margin-left: 12px;
	color: #6cd386;
	font-weight: 200;
	letter-spacing: 1px;
	font-family: 'Suez One', serif;
	padding-left: 8px;
	border-left: solid 2px #6cd386;
	border-radius: 3px;
}
.lista_nav a:hover {
	color: #fff;
	text-shadow:
		0 0 5px rgb(161, 241, 136),
		0 0 10px rgb(96, 100, 96),
		0 0 20px rgb(64, 66, 65),
		0 0 40px rgb(116, 247, 125),
		0 0 80px rgb(87, 247, 121),
		0 0 90px rgb(38, 127, 65),
		0 0 100px rgb(23, 44, 21),
		0 0 140px rgb(41, 77, 46),
		0 0 180px rgb(123, 168, 119);
	border-top: solid 2px rgba(255, 255, 255, 0.7);
	border-left: none;
}
.nombre_organizacion{
	font-weight: 900;
	letter-spacing: 1px;
	color: #fff!important;
}
.nombre_organizacion:hover {
	color: #69c981;
	text-shadow:
		0 0 5px rgb(161, 241, 136),
		0 0 10px rgb(96, 100, 96),
		0 0 20px rgb(64, 66, 65),
		0 0 40px rgb(116, 247, 125),
		0 0 80px rgb(87, 247, 121),
		0 0 90px rgb(38, 127, 65),
		0 0 100px rgb(23, 44, 21),
		0 0 140px rgb(41, 77, 46),
		0 0 180px rgb(123, 168, 119);
}
.color_borde_button_nav {
	border-color: #fff!important;
}



@media (min-width: 360px) {
	.container-video {
		overflow: hidden;
		width: 100%;
		height: 67vh;
		position: relative;
	}
	.video-background {
		height: auto;
		position: absolute;
		width: 100%;
		z-index: -1000;
		top: 0;
		opacity: 0;
	}
	.slider-celular {
		height: 100%;
		width: 100%;
		position: absolute;
		opacity: 1;
	}
}
@media (min-width: 480px) {
	.container-video {
		overflow: hidden;
		width: 100%;
		height: 88vh;
		position: relative;
	}
	.video-background {
		height: auto;
		position: absolute;
		width: 100%;
		z-index: -1000;
		top: 0;
		opacity: 0;
	}
	.slider-celular {
		height: 100%;
		width: 100%;
		position: absolute;
		opacity: 1;
	}
}
@media (min-width: 768px) {
	.container-video {
		overflow: hidden;
		width: 100%;
		height: 69vh;
		position: relative;
	}
	.video-background {
		height: auto;
		position: absolute;
		width: 100%;
		z-index: -1000;
		top: 0;
		opacity: 1;
	}
	.slider-celular {
		height: 100%;
		width: 100%;
		position: absolute;
		opacity: 0;
	}
}
@media (min-width: 900px) {
	.container-video {
		overflow: hidden;
		width: 100%;
		height: 81vh;
		position: relative;
	}
	.video-background {
		height: auto;
		position: absolute;
		width: 100%;
		z-index: -1000;
		top: 0;
		opacity: 1;
	}
	.slider-celular {
		height: 100%;
		width: 100%;
		position: absolute;
		opacity: 0;
	}
}
@media (min-width: 1024px) {
	.container-video {
		overflow: hidden;
		width: 100%;
		height: 93vh;
		position: relative;
	}
	.video-background {
		height: auto;
		position: absolute;
		width: 100%;
		z-index: -1000;
		top: 0;
		opacity: 1;
	}
	.slider-celular {
		height: 100%;
		width: 100%;
		position: absolute;
		opacity: 0;
		
	}
}
@media (min-width: 1200px) {
	.container-video {
		overflow: hidden;
		width: 100%;
		height: 100vh;
		position: relative;
	}
	.video-background {
		height: auto;
		position: absolute;
		width: 100%;
		z-index: -1000;
		top: 0;
		opacity: 1;
	}
	.slider-celular {
		height: 100%;
		width: 100%;
		position: absolute;
		opacity: 0;
	}
}
@media (min-width: 1340px) {
	.container-video {
		overflow: hidden;
		width: 100%;
		height: 100vh;
		position: relative;
	}
	.video-background {
		height: auto;
		position: absolute;
		width: 100%;
		z-index: -1000;
		top: 0;
		opacity: 1;
	}
	.slider-celular {
		height: 100%;
		width: 100%;
		position: absolute;
		opacity: 0;
	}
}









.carousel__anterior {
	z-index: 999;
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border: none;
	border-radius: 50%;
	top: calc(75% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background-color: rgb(160, 160, 160);
	color: rgb(190, 27, 27);
	opacity: 20%;
}
.carousel__siguiente {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border: none;
	border-radius: 50%;
	top: calc(75% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background-color: rgb(160, 160, 160);
	color: rgb(190, 27, 27);
	opacity: 20%;
	margin: 0 auto;
}

.carousel__anterior:hover {
	opacity: 100%;
	background-color: rgb(209, 208, 208);
}
.carousel__siguiente:hover {
	opacity: 100%;
	background-color: rgb(209, 208, 208);
}
.carousel__siguiente {
	left: 40px;
}
.carousel__elemento button {
	background-color: #4ac569;
	height: 30px;
	width: 120px;
	border-radius: 15px;
	border: none;
	border: solid 1px #000;
}
.carousel__elemento button a {
	color: #000;
	text-decoration: none;
}





.container-slider2 {
	width: 100%;
	height: 400px;
	background-color: rgba(1, 93, 82 , .9);
}
.content_imgvehiculos {
    width: 100%;
    height: 100%;
    margin-top: 4em;
}
.container_main_imgvehiculos {
    width: 100%;
    height: 100%;
    margin: auto;
}
.slider_imgvehiculos {
    height: 100%;
    width: 100%;
}
.slider_imgvehiculos_principal {
    height: 100%;
    width: 100%;
    border-radius: 30px;
    transition: all .6s;
}
.slider_imgvehiculos_principal img {
	height: 250px;
}




















.esquema_general {
	min-height: 100vh;
	background-color: #a6f6f0;
}
.aboutl{
	font-size: 47px;
	color: rgb(11, 29, 18);
	transition: all .5s;
}
.aboutl:hover{
	font-size: 47px;
	border-bottom: solid 4px rgb(15, 85, 60);
	color: rgb(15, 85, 60);
}
.propiedades_diseño1 img{
	height: 50px;
	float: right;
}
.propiedades_diseño2 img{
	height: 50px;
}













.footer-social {
    list-style: none;
    padding: 0;
}


.footer-social li a i{
    color: #c4bdc4;
}





.footer-jhey{
    position: absolute;
	overflow: hidden;
}
#footer{
    animation-name: svganimation;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count:infinite ;
    position: absolute;
/*    z-index: 4;*/
}
@keyframes svganimation {
    0%{
        left: -50%;
        bottom: 0%;
    }
    100%{
        left:-100%;
        bottom: 0%;
    }
}
#footer1{
    animation-name: svganimation1;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count:infinite ;
    position: relative;
/*  z-index: 1;*/
}
@keyframes svganimation1 {
    0%{
        right: 100%;
        bottom: 0%;
    }
    100%{
        right:0%;
        bottom: 0%;
    }
}




@import "../node_modules/bootstrap/scss/bootstrap.scss";