.formulario{
	margin: 0 auto;
	width: 80%;
}
.botonsito{
	width: 100%;
    height: 50px;
    margin-top: 60px;
    color: white;
    border: 0px;
    background: linear-gradient(
90deg
, #201614, #26e760);
    font-weight: 300;
    cursor: pointer;
    font-size: 18px;
}